[submodule "packages/osmosis-test-tube/osmosis"]
	path = osmosis
	url = https://github.com/osmosis-labs/osmosis.git
	branch = main
[submodule "neutron"]
	path = neutron
	url = https://github.com/neutron-org/neutron.git
